p {
  font-size: 18px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
.uber-btn {
  padding: 15px 25px;
  color: white;
  background-color: black;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.amazon-btn {
  padding: 7px 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  background-color: rgb(255, 216, 20);
  border-radius: 25px;
  border: none;
}
.github-btn {
  background-color: rgb(46, 164, 79);
  color: white;
  padding: 13px 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.1);
}
.linkedin-btn {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 20px;
}
.linkedin-apply-btn {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
}
.linkedin-save-btn {
  border: 1px solid rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  background-color: white;
}
